@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}


#header {
    max-width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font: normal 17px Bebas Neue;
}

#logo_marca {
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

#menu_right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contats_img {
    margin-top: 25px;
    margin-bottom: 20px;
}

.nav_menu {
    display: flex;
}

.nav_menu a {
    color: #40220a;
    letter-spacing: 2px;
}

.man0 {
    margin: auto 33px 17px 40px;
}

.men1 {
    margin-left: 17px;
}

/*Fim Header*/

#parte_principal {
    width: 100%;
    height: 100%;/* Define a altura da seção para ocupar 100% da altura da tela */
    background: url("/imagens/fundo01.jpg");
    background-size: cover;/* Redimensiona a imagem para cobrir todo o espaço da seção */
    background-position: center;/* Centraliza a imagem dentro da seção */
    position: absolute;
    top: 0;
    z-index: -2;
}

#text_princ {
    margin-top: 220px;
    margin-left: 50px;
}

.tex_p_princ {
    width: 420px;
    padding: 5px;
    text-align: center;
    border: 4px dashed #40220a;
}

.tex_p_princ p {
    font: normal 20px Oswald;
}
#text_princ h1{
    font:  normal 100px Alfa Slab One;
    color: #40220a;
    text-shadow: 3px 3px 3px white;
}
#parte_principal span{
    display: block; /* Define o span como um elemento de bloco */
    font: normal 40px Alfa Slab One;
    color: #40220a;
    margin-top: -25px; /* Adiciona um espaço de 10px acima do span */
}

/*Segunda Parte da pagina*/
#segunda_parte{
    width: 100%;
    height: auto;
    margin-top: 257px;
    background: #fff;
    display: flex;
    font: normal 17px Bebas Neue;
    color: #fff;
}
.ajustar_segundaparte{
    width: 900px;
    height: 320px;
    display: flex;
    margin: auto;
}
.img_section01{
    height: 146px;
    margin-bottom: 26px;
}
.img_section02{
    height: 146px;
}

.ajustar_segundaparte p{
    font: normal 17px Bebas Neue;
  
}
.ajustar_segundaparte h1{
    font: normal 17px Bebas Neue;
  
}
.most img{
    max-width: 450px;
    border-radius: 10px;
}

.fig_most img{
    border-radius: 10px;
    margin-bottom: 21px;
    margin-left: 30px;
    max-width: 450px;
}

#p_1{
    position: relative;
    top: -297px;
    left: 20px;
    z-index: 0;
}
#p_2{
    position: relative;
    top: -155px;
    left: 55px;
    z-index: 0;
}

.popular{
    position: relative;
    top: -300px;
    left: 20px;
    z-index: 0;
    font-size: 33px;
}
.fun{
    line-height: 1em;
    width: 130px;
    position: relative;
    top: -159px;
    left: 55px;
    z-index: 0;
    font-size: 32px;
}

.fun2{
    position: relative;
    top: -159px;
    left: 55px;
    z-index: 1;
    font-size: 32px;
}