@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 100%;
}


#header{
    max-width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font: normal 17px Bebas Neue;
}

#logo_marca {
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

#menu_right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contats_img {
    margin-top: 25px;
    margin-bottom: 20px;
}

.nav_menu {
    display: flex;
}
.nav_menu a{
    color: #42200b;
    letter-spacing: 2px;
}
.man0 {
    margin: auto 33px 17px 40px;
}
.men1{
    margin-left: 17px;
}

/*Fim Header*/

#parte_principal{
    max-width: 100%;
}
.img_princ{
    position: absolute;
    top: -54px;
    z-index: -1;
}