@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


#header {
    max-width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font: normal 17px Bebas Neue;
}

#logo_marca {
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

#menu_right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contats_img {
    margin-top: 25px;
    margin-bottom: 20px;
}

.nav_menu {
    display: flex;
}

.nav_menu a {
    color: #40220a;
    letter-spacing: 2px;
}

.man0 {
    margin: auto 33px 17px 40px;
}

.men1 {
    margin-left: 17px;
}

/*Fim Header*/

#parte_principal {
    width: 100%;
    height: 100vh;/* Define a altura da seção para ocupar 100% da altura da tela */
    background: url("/imagens/fundo01.jpg");
    background-size: cover;/* Redimensiona a imagem para cobrir todo o espaço da seção */
    background-position: center;/* Centraliza a imagem dentro da seção */
    position: absolute;
    top: 0;
    z-index: -2;
}

#text_princ {
    margin-top: 220px;
    margin-left: 50px;
}

.tex_p_princ {
    width: 420px;
    padding: 5px;
    text-align: center;
    border: 4px dashed #40220a;
}

.tex_p_princ p {
    font: normal 20px Oswald;
}
#parte_principal h1{
    font:  normal 100px Alfa Slab One;
    color: #40220a;
    text-shadow: 3px 3px 3px white;
}
#parte_principal span{
    display: block; /* Define o span como um elemento de bloco */
    font: normal 50px Alfa Slab One;
    color: #40220a;
    margin-top: -25px; /* Adiciona um espaço de 10px acima do span */
}